


.social-links li a:hover,
nav > ul > li > a:hover,
nav ul ul li a:hover,
.search-btn,
.search-btn:hover,
.banner-content > h1 strong,
.case-study-slide > h4,
.breadcrumb li span,
.appoint-rws .sec-title.ta-left > span,
.ico-p > h3,
.price-table > h2 span,
.socio-links li a:hover,
.pst-info > h3:hover,
.pst-info > a:hover,
.abt-list li span b,
.counter-item > h2,
.counter-item > span,
.case-study-slide .lnk-default,
.team-info > span,
.blog-info > h2:hover a,
.posted-by-row > h4,
.ft-lzt li:before,
.content-details > h4,
.fz-lst li:before,
.team-cont-info li strong,
.follow-us > h3,
.price-table ul li:before,
.widget-quick-contact > span,
.widget-quick-contact .lnk-default,
.ref-info > span,
.widget-categories ul li:hover > a,
.widget-meta ul li a:hover,
.widget-meta ul li:hover:before,
.meta li a,
.meta li i.fa-user,
.post_tags ul li a:hover,
.pingbacks ul li a strong,
.comment-info > a,
.shop-items .gallery-col > span,
.shop-sidebar .widget-search button,
.pd-rating li i,
.shop-product-info > span,
.add-review-section > h4 span,
.post-tgrow .socio-links li a:hover,
.sec-title.white > h2,
.rating li i,
.posted-by-row > a:hover,
nav > ul > li > a.active,
.close-search:hover,
.gallery-col > h3:hover,
nav ul ul li a.active,
.widget-shop-categories ul li a:hover,
.slick-prev:hover:before, 
.slick-next:hover:before,
.drop-menu li a:hover,
.blog-post:hover .blog-info > h2,
.mobile-menu ul li a:hover,
.mobile-menu ul li a.active,
.search-popup form button {
	color: #f7941d;
}

.top-header,
.quote-btn:hover,
.lnk-default,
.about-img:before,
.about-text > h2:before,
.about-text .lnk-default:hover,
.sec-title > h2:before,
.rd-btn,
.half-overlay:before,
.case-study-slide .lnk-default:hover,
.slick-dots li.slick-active button,
.team-col:hover .team-info,
input:checked ~ .checkcircle,
.blog-section .sec-title-style2 > .lnk-default,
.category-name,
.widget-title:before,
.socio-links li a:hover,
.scrollUp,
.widget-recent-services ul li:hover,
.widget-brouchers ul li:hover,
.price-table.active,
.filters-nav li a.selected,
.gallery-optz li a:hover,
.widget-search button,
.blog-sidebar .widget-title:before,
.shop-sidebar .widget-title:before,
.widget-tags ul li a:hover,
.ui-slider-horizontal .ui-slider-handle,
.ui-slider-horizontal .ui-slider-range,
.widget-filter form .btn-style2:hover,
.quan-row > button,
.shop-tabs .nav-tabs .nav-link.active,
.contact-pg .form-submit .lnk-default,
.blog-post.single blockquote:before,
.blog-post.single blockquote > h4:before,
.sc-title:before,
.reply-section .input-submit .lnk-default,
.gallery-optz li a:hover,
.widget-social .socio-links li a:hover,
nav > ul > li > a.active:before,
.widget-quick-contact .lnk-default:hover,
.video-post:hover .video-post-thumbnail:before,
.blog-post.single:hover .category-name,
.social_links li a:hover:after,
.social_links li a:hover:before,
.success-message,
.error-message,
.missing-message,
.price-nav-tabs ul li.current,
.price-nav-tabs ul li:hover {
	background-color: #f7941d;
}

.banner-content > h1 strong,
.about-text .lnk-default,
.widget-social .socio-links li a,
.slick-prev:hover, 
.slick-next:hover,
.widget-quick-contact .lnk-default,
.search-btn,
.case-study-slide .lnk-default,
.search-btn:before
{
	border-color: #f7941d;
}